.navs{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 5vh;
    background: rgb(89, 89, 94);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-links{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 5vh;
    list-style: none;
    
}

.divbuttommargin {
  margin-bottom: 5px;
}
.labels {
  display: inline-block;
  width: 150px;
  text-align: right;
}

.inputclass{
    background-color: #b6b6c9;
    color: cyan;
    border-left: 10px;
    margin-left: 10px;

    height: 10px;
    border-radius: 3px;
    border: 1px solid blue_theme;
   
    padding: 5px;
    font-family:  sans-serif;
    font-size: 19px;
    color: #3e3e42;
    background: rgba(15, 15, 15, 0.01);
}

.clickbutton{
    height: 20px;
    background-color: rgba(190, 196, 197, 0.445);
    border:10px;
    margin-left: 150px;
    margin-top: 10px;
}

.h3class{
    margin-left: 100px;
}

span{
    margin-left: 100px;
}



.buttonCart{
    margin-left: 100px;
    width: 150px;
  
}
a{
    margin-left: 100px;
}

img{
    width:300px;
    height:300px;
    margin-left: 100px;
}
.gclass{
    margin-left: 100px;
}




/* #root {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}


<!--Root Container
.root-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-controller {
    visibility: visible;
 
    display: flex;
    max-width: 24em;
    min-width: 21em;
    height: 35px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
    box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
    margin-bottom: 30px;
    align-items: center;
    transition: visibility 0.5s ease-out;
}

.controller {
    flex: 1;
    text-align: center;
    height: 100%;
    line-height: 2;
    cursor: pointer;
}

<!--Currently Selected Controller
.selected-controller {
  
    border-bottom: 2px solid blue_theme;
}

.box-container {
    display: flex;
    flex-direction: column;
    max-width: 24em;
    min-width: 21em;
    box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
    border-radius: 6px;
    padding: 24px;
}

.inner-container {
    transition: visibility 0.2s ease-out;
}

.inner-container.show {
    visibility: visible;
}

.header {
  
    font-family: sans-serif;
    font-size: 22px;
    border-bottom: 2px solid;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
}

<!--Label
.login-label {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding-left: 5px;
}

<!--Input
.login-input {
    height: 2.1em;
    border-radius: 3px;
    border: 1px solid blue_theme;
   
    padding: 13px;
    font-family:  sans-serif;
    font-size: 19px;
    color: #3e3e42;
    background: rgba(15, 15, 15, 0.01);
}

.login-input:hover {
    border: 2px solid;
}

.login-input:focus {
    border: 2px solid #6565e7;
    box-shadow: 0px 0px 20px rgba(15, 15, 15, 0.2);
}


.login-input::placeholder {
    font-family:  sans-serif;
    font-size: 16px; 
    color: rgba(15, 15, 15, 0.4);
}

.login-btn {

    border: 0;
    font-size: 18px;
    border-radius: 3px;
    font-family: sans-serif;
    background-color: rgba(15, 15, 15, 0.03);
    margin-top: 20px;
    border: 2px solid #417cef;
    
    
}

.login-btn:hover,
.login-btn:focus {
    background-color: #417cef;
    color: white;
}

.danger-error {
    color: #e74c3c;
    font-size: 16px;
}


.password-state {
    display: flex;
   
    margin-top: 20px;
}

.pwd {
    height: 6px;
 
}

.pwd-weak {
    background-color: #e74c3c;
}

.pwd-medium {
    background-color: #3498db;
}

.pwd-strong {
    background-color: #2ecc71;
}

.show {
    visibility: visible;
} */
